.services-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one two'
    'three four'
    'five six';

  padding-block: 2rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}

.service {
  font-size: 16px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.service-title {
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(249, 113, 2);
  margin-bottom: 0.5rem;
}

.service-description {
  font-size: 1.5rem;
  color: #666;
  font-weight: lighter;
}

@media screen and (max-width: 1024px) {
  .services-grid {
    --num-cols: 2;
    --row-height: auto;
    --gap: 0.5rem;
    grid-template-areas:
      'one one'
      'two two'
      'three four'
      'five six';
  }
}
