.container {
  background-color: #f0f0f0;
  display: flex;
  align-items: center; 
  height: 90vh;
}

/* Image Styles */
.image-container {
  width: 720px;
  height: 837px;
  flex-shrink: 0;
  border-radius: 10px;
  background-position: 50% 50%;
  background-size: cover;
}

/* Text Styles */
.text-container {
  flex: 1 1;
  max-width: 50%;
  padding-left: 20px;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  margin-left: 12px;
}

.title {
  color: #000;
  font-family: 'Inter';
  font-size: 2rem;
  font-weight: 700;
  overflow-wrap: break-word;
}

.description {
  color: rgba(0, 0, 0, 0.60);
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

.full-screen {
  height: 100vh;
  overflow: hidden; 
}
  
    .custom-button {
      width: 100%;
      padding: 15px;
      background: #FF5D22;
      border-radius: 10px;
      margin-top: 15px;
      text-decoration: none; 
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .custom-button:hover {
      background: #FF783B; /* Add a hover effect */
    }
    
    .custom-button-text {
      color: white;
      font-size: 20px;
      font-family: 'Inter';
      font-weight: 700;
      word-wrap: break-word;
    }
  
  
  
  
  
  