.page-not-found {
  display: grid;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* /* text-align: center; */
  margin-top: 50px;
}

.page-not-found h1 {
  font-size: 2em;
}

.page-not-found p {
  font-size: 1.2em;
}
