.space-list {
  padding: 20px;
}

.space-list-header {
  margin-bottom: 20px;
}

.cols-space-grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  /* justify-content: center;
  justify-items: center; */
}

.space-list-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
