.App {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.user-form button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ff6600; /* Orange color */
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-form button:hover {
  background-color: #ff4500; /* Slightly darker shade of orange on hover */
}

.add-user-div {
  text-align: center;
  height: 100%;
  overflow-y: scroll;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

label {
  font-size: 16px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type='submit'] {
  background-color: #ff6600; /* Orange color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: #ff4500; /* Slightly darker shade of orange on hover */
}
#root {
  height: 100%;
}

.all{
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

html {
  /* overflow: hidden; */
  height: 100%;
}

/* DASHBOARD */

.admin {
  height: 100%;
  margin: 0;
  display: flex;
  overflow: hidden;
}
/* 
.first h1 {
  font-size: 15px;
} */

.first-add-user h1 {
  font-size: 15px;
}
.first-add-user a span {
  text-decoration: solid;
  font-weight: bolder;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ff922b;
}


#company-name {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.dashboard {
  display: flex;
  height: 560px;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 3em;
  overflow: hidden;
  width: 20%;
  height: 100%;
  background-color: #262d2d;
}

.admin label {
  color: #d9d9d9;
}

.user-manage label {
  color: #d9d9d9;
}

.spacesManage label {
  color: #d9d9d9;
}
.profile .first {
  display: flex;
  flex-direction: column;
  gap: 3em;
  /* border: 1px solid black; */
  width: 20%;
  height: 100%;
  background-color: rgb(51, 44, 44);
}

.profile label {
  color: #f6f1ee;
}

/* .first-add-user a span{
        text-decoration: solid;
        font-weight:bolder;
        font-size: 60px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: #FF922B;
      } */

.first-add-user {
  display: flex;
  flex-direction: column;
  gap: 3em;
  /* border: 1px solid black; */
  width: 20%;
  height: 100%;
  background-color: #e2e2e5;
}

.user-form {
  background-color: #f8f9fa;
}

.center {
  overflow-y: auto;
  flex-direction: column;
  background-color: #f8f9fa;
  height: 100%;
  width: 60%;
}

.welcome {
  border: 1px solid white;
  margin: 20px 20px;
  padding: 10px 10px;
  text-align: center;
  background-color: #b0b0b0;
  border-radius: 5px;
}

.stats {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
}

.spaces-stats {
  margin: 20px 20px;
  padding: 10px;
  background-color: #e0a6ff;
  border-radius: 5px;
  width: 40%;
}

.spaces-text {
  display: flex;
  justify-content: space-between;
}

.users-stats {
  border-radius: 5px;
  margin: 20px 20px;
  padding: 10px;
  background-color: #a1a6d5;
  width: 40%;
  height: 180px;
}

.requests {
  margin: 20px 20px;
  background-color: #ffffff;
  padding: 20px 20px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px;
  background-color: #d1f3da;
  border-radius: 5px;
}
.welcome p {
  font-style: italic;
  font-weight: 100;
}

.panel-div {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 4.2em;
  justify-content: center;
}

.panel-div a:active{
  background-color: #037e00;
}

.placer{
  height: 100%;
}

a {
  text-decoration: none;
}

.side-dash {
  /* height: 560px; */
  border: 1px solid black;
}

svg {
  height: 40px;
  width: 40px;
}

.dashboard-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: -100px;
}

.users-icon {
  gap: 1em;
  display: flex;
  align-items: center;
  margin-left: -15px;
}

.spaces-icon {
  margin-left: -20px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.logout-icon {
  margin-top: 130px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.logout-icon img {
  width: 20px;
}

.dashboard-icon img {
  width: 30px;
}

.users-icon img {
  width: 30px;
  background-color: #262d2d;
}

.spaces-icon img {
  width: 35px;
}

.stats h2 {
  font-size: larger;
  font-weight: bolder;
  margin: 10px 10px;
}

.stats p {
  margin: 10px 10px;
}

.list img {
  border-radius: 50px;
  height: 25px;
  width: 25px;
  object-fit: cover;
}

#span-occupied {
  color: #037e00;
  font-weight: bold;
}

#span-vacant {
  color: #93791c;
  font-weight: bold;
}

.requests p {
  font-weight: 500;
}

.about-div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.name-gmail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 8px;
}

.last-div {
  margin-top: 20px;
  border: 1px solid aliceblue;
  background-color: #ffffff;
  border-radius: 8px;
}

.last {
  background-color: #f8f9fa;
  width: 20%;
}

.about-div img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 5px 10px;
}

.details-button button {
  background-color: #ff922b;
  padding: 10px 30px;
  width: 70%;
  color: #ffffff;
  border-radius: 40px;
  margin: 20px 20px;
}

.details-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income {
  margin: 10% 20%;
  background-color: #92c9a1;
  padding: 10px 10px;
  border-radius: 15px;
}

.income h2 {
  font-size: larger;
  font-weight: bolder;
  /* margin: 10px 10px; */
}

.income h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 5% 8%;
}

.profits {
  margin: 10% 20%;
  background-color: #fdebab;
  padding: 10px 10px;
  border-radius: 15px;
}

.profits h2 {
  font-size: larger;
  font-weight: bolder;
}

.profits h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 5% 8%;
}

/* ADD - USER */

.add-user-form label{
  display: block;

}

.user-form {
  border: 1px solid black;
  width: 80%;
  padding-top: 50px;
}

.user-form button {
  padding: 6px 20px;
  background-color: #ff6600; /* Orange color */
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-form button:hover {
  background-color: #ff4500; /* Slightly darker shade of orange on hover */
}

#back-icon {
  border-radius: 4px;
  color: #ff922b;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}

.add-user-div {
  background-color: #ffffff;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 40px;
  width: 90%;
}

.add-user-form {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.add-user-form button {
  width: 15%;
}


/* SPACES MANAGEMENT */

.spacesManage {
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.admin-spaces-display {
  height: 100%;
  background-color: #f6f1ee;
  width: 80%;
  padding: 0% 3%;
  overflow: scroll;
  position: relative;
}

.admin-spaces-display button {
  background-color: #ff5d22;
  margin-left: 750px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  color: #ffffff;
  border-radius: 8px;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  position: static;
}

.admin-spaces-display button img {
  width: 20px;
  color: #ffffff;
  margin-top: -4px;
}

.admin-spaces-display img {
  width: 90%;
  margin-top: 10px;
  border-radius: 8px;
}

.space-div {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 40px;
  gap: 5em;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid black;
  width: 27%;
  height: max-content;
}

.card div {
  /* border: 1px solid black; */
  width: 100%;
  margin-left: 10px;
}

/* ADD SPACE */

.add-space {
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* USERS */

.user-manage {
  height: 100%;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

.second {
  /* border: 10px solid black; */
  width: 80%;
  background-color: #f8f9fa;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-card {
  background-color: #ffffff;
  width: 40%;
  display: flex;
  align-items: center;
  gap: 2em;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 20px;
  border-radius: 8px;
}

/* #email{

  } */

.trial {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  row-gap: 1px;
  height: 70%;
}

.user-card img {
  object-fit: cover;
  object-position: center;
  width: 12%;
  height: 50px;
  border-radius: 50px;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#email {
  color: #767575;
  margin-top: -15px;
}

.second-header {
  padding: 20px 20px;
}

.second-header h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 10px 10px;
}

.second-header button {
  margin-left: 770px;
  background-color: #ff5d22;
  height: 30%;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 7px 30px;
  /* width: 10%; */
}

.second-header img {
  width: 20px;
  height: 30px;
}

/* Profile */

.profile {
  height: 100%;
  display: flex;
  overflow-y: hidden;
}

.profile-display {
  background-color: #d9d9d9;
  filter: contrast(20px);
  width: 80%;
}
.profile-display img {
  width: 100%;
  height: 55%;
}

.profile-display div {
  padding-left: 40px;
}

/* LOGIN */

.login {
  height: 100%;
  background-color: #262d2d;
  overflow: hidden;
  /* border: 10px solid black; */
}

.wrapper {
  margin-top: 8%;
  border: 1px solid gray;
  /* margin: 5% ; */
  height: 85%;
  margin-left: 30%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
}

.wrapper h1 {
  margin-left: 40px;
  transform: rotate(-90deg);
  transform-origin: left bottom; /* Optional: Adjust the rotation origin as needed */
  white-space: nowrap;
}

.wrapper h2 {
  font-size: 1.3rem;
  font-weight: 750;
  margin-top: 7%;
}

.login-inputs {
  margin: 1% 1%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 40%;
}

.login-inputs input {
  width: 100%;
  height: 35px;
  border: 1px solid #767575;
  border-radius: 5px;
}

.lower-login {
  display: flex;
  align-items: center;
  /* gap: 2em; */
}

.wrapper-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap :2em; */
}

.button-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.login-button {
  border-radius: 8px;
  background-color: #ff922b;
  color: #ffffff;
  padding: 7px 20px;
  /* width: ; */
}

.venuevibe {
  width: 1%;
  margin-left: 30px;
  text-align: center;
  align-content: center;
  margin-bottom: -80px;
}

svg {
  margin-right: 20px;
  width: 10%;
}

.button-and-text a {
  color: blue;
}

.venuevibe h1 span {
  text-decoration: solid;
  font-weight: bolder;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #ff922b;
}

.input-divs {
  width: 100%;
  display: grid;
  align-items: center;
}

.first-input {
  margin: 0px 0px;
}
/* .login-button{
  width: 50%;
}
 */

/*  SIGNUP */

.signup {
  display: flex;
  height: 560px;
  width: 100%;
}

.right h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.left {
  width: 60%;
  height: 100%;
  background-color: #323434;
}

.right {
  width: 65%;
  height: 100%;
}

.names {
  display: flex;
}

.names input {
  margin-top: 20px;
  width: 310px;
  height: 35px;
  border: 1px solid #767575;
  border-radius: 5px;
  margin-left: 80px;
}

.user-preference {
  display: flex;
  gap: 5em;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.picture-div {
  width: 310px;
  margin-right: 30px;
}

.picture-div input {
  margin-top: 20px;
  width: 310px;
  height: 35px;
  border-radius: 5px;
}

.username-input input {
  margin-top: 20px;
  width: 310px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #767575;
  margin-left: 80px;
}

.email-div {
  margin: 30px;
  margin-left: 80px;
}

.email-div input {
  width: 700px;
  height: 35px;
  border: 1px solid #767575;
  border-radius: 5px;
}

.password-div{
  position: relative;
}

.email-div{
  position: relative;
}

.picture-div{
  position: relative;
}

.username-input{
  position: relative;
}

.lastname-input{
  position: relative;
}

.firstname-input{
  position: relative;
}

.password-div input {
  margin-left: 80px;
  width: 700px;
  height: 35px;
  border: 1px solid #767575;
  border-radius: 5px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.right h2 {
  margin-left: 80px;
  margin-top: 8%;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstname-input small{
  margin-left: 80px;
}

.lastname-input small{
margin-left: 80px;
}

.username-input small{
margin-left: 80px;
}

.password-div small{
  margin-left: 80px;
}


.signup-button {
  border: 1px solid;
  margin: 30px;
  width: 700px;
  height: 40px;
  margin-left: 80px;
  border-radius: 5px;
  background-color: #ff922b;
  color: aliceblue;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #fd8b08;
  border: 2px solid #262d2d; /* Change the background color on hover */
  transform: translateY(-2px);
}

.signup-button:active {
  background-color: #ff7f00; /* Change the background color when clicked */
  transform: translateY(0); /* Reset the movement on click */
}

.have-account {
  margin-left: 80px;
}

.or {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
}

.or hr {
  width: 330px;
  height: 0.0001px;
}

.social-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 60px;
}

.google {
  border: 2px solid;
  width: 310px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google:hover {
  transform: translateY(2px) translateX(2px);
}

.facebook {
  border: 2px solid;
  width: 310px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login a {
  text-decoration: none;
  color: black;
}

.left h1 {
  margin-left: 100px;
  margin-top: 30px;
}

.left span {
  font-size: 60px;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ff922b;
}

.firstname {
  position: absolute;
  left: 90px;
  top: 9px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

.lastname {
  position: absolute;
  top: 9px;
  left: 90px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

.email {
  position: absolute;
  left: 10px;
  top: -9px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

.password {
  position: absolute;
  left: 90px;
  top: -9px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

.username {
  position: absolute;
  left: 90px;
  top: 9px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

.profile-picture {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  color: #767575;
}

/* HOMEPAGE css */

.home {
  /* background-color: blueviolet; */
  height: 100vh;
}
.nav {
  display: flex;
}

.nav-div {
  margin: 10px 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  background-color: #d9d9d9;
}

.nav-div a {
  margin-left: 100px;
  font-weight: 500;
}

.home-content {
  display: flex;
  height: 70%;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 30px;
  /* margin: 30px 60px; */
  /* justify-content: center; */
}

.left-home {
  width: 50%;
  height: 90%;
}

.right-home {
  height: 100%;
  width: 50%;
}

.right-home img {
  width: 100%;
  height: 110%;
  border-radius: 8px;
  object-fit: cover;
}

.left-home h2 {
  font-weight: 700;
  font-size: 2rem;
}

.left-home p {
  width: 400px;
  font-size: 1.3rem;
  color: #8b8484;
}

.heading {
  margin-top: 30px;
  margin-bottom: 50px;
}

.home-button-div {
  margin-top: 20px;
  margin-left: 20%;
}

.home-button-div button {
  background-color: #ff5d22;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.1rem;
}

.loader-overlay {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  filter: blur(5px); /* Apply a 5px blur effect to the element */
  pointer-events: none; /* Disable pointer events on the blurred element */
  opacity: 0.7; /* Adjust the opacity for a semi-transparent effect */
  transition: filter 0.3s, opacity 0.3s;
}

@media (max-width: 850px) {
  .home-content {
    display: flex;
    flex-direction: column;
  }

  .nav-div {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* Adjust styles for screen widths 768px and below (typical tablets and mobiles) */
@media (max-width: 768px) {
  .signup {
    overflow-x: hidden;
    flex-direction: column; 
    height: auto; 
  }


  .left,
  .right {
    width: 100%;
  }

  .right h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; 
    margin-left: 10px;
  }

  .signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .names {
    flex-direction: column; 
    align-items: center;
  }

  .names input {
    margin: 10px 0;
  }

  .firstname{
    top: 1px;
  }

  .lastname{
    top: 0px;
  }

  .username{
    left: 172px;
  }

  .profile-picture{
    left: 172px;
  }

  .email{
    left: 172px;
    top: 10px;
  }
  
  .password{
    top: 10px;
    left: 172px;
  }

  .user-preference {
    flex-direction: column; 
    align-items: center;
  }

  .user-preference{
    gap: 0;
  }
  .picture-div,
  .username-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    margin: 10px 0;
  }

  .picture-div input,
  .username-input input {
    width: 310px; 
  }

  .username-input input {
    margin-right: 77px;
  }

  .email-div input {
    margin-left: 85px;
    margin-top: 20px;
  }

  .first-input input {
    margin-bottom: 60px;
  }
  .email-div,
  .password-div {
    margin: 10px 0; 
  }

  .password-div input {
    margin-top: 20px;
  }

  .email-div input,
  .password-div input {
    width: 310px; 
  }

  .signup-button {
    margin: 20px 0;
    width: 200px; 
    margin-left: 150px;
  }

  .have-account {
    margin: 10px 0; 
  }

  .or {
    flex-direction: column; 
    align-items: center;
  }

  .or hr {
    width: 60%; 
    margin: 10px 0;
  }

  .social-login {
    flex-direction: column; 
    align-items: center;
  }

  .google,
  .facebook {
    width: 100%; 
    margin: 10px 0;
  }
}


@media (max-width: 813px) {
  .wrapper{
    flex-direction: column;
  }

  .wrapper h1{
   position: relative;
   margin-left: 40px;
   transform: rotate(0deg);
   text-align: center;
    filter: blur(10px);
  }
} 

@media (max-width: 727px) {
  .admin{
    flex-wrap: wrap;
    flex: 2;
  }
}



/* SPACE DETAILS */

.spaceDetails-div{
  display: flex;
  height: 100%;
  justify-content: center;
  /* align-items: center; */
  background-color: #262d2d;
}
.spaceDetails{
  border: 2px solid black;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.spaceDetails img{
  width: 100%; 
  height: 60%;
  object-fit: cover;
}

.space-text{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .space-details-buttons{
  margin-top: 2em;
  display:flex;
  gap: 2em;
}

.space-details-buttons button{
  padding: 5px 5px;
}
.space-details-buttons button:nth-child(2){
  border: none;
  background-color: brown;
} */

.spaceDetails-div {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}

.spaceDetails {
  display: flex;
  align-items: center;
  position: relative;
}

.spaces-back-button{
  position: absolute;
  padding: 10px 10px;
  border: none;
  border-bottom-right-radius: 8px;
  z-index: 999;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #262d2d;
  transition: transform ease-in-out 0.5s;
}

.spaces-back-button:hover{
  color: #d1f3da;
  transform: scale(1.1);
}

.pulse-spaces{
  position: absolute;
  top: 300px;
  left: 400px;
}



.space-text {
  flex: 1;
}

.space-text input {
  width: 100%; 
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Style the submit and cancel buttons */
.space-text button {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the "EDIT" and "REVERT" buttons */
.space-details-buttons button:nth-child(1) {
  background-color: #4caf50; /* Green color */
  color: white;
}

.space-details-buttons button:nth-child(2) {
  background-color: #f44336; /* Red color */
  color: white;
}

/* Style the "DELETE" button */
.space-details-buttons button:nth-child(3) {
  background-color: #f44336; /* Red color */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Add hover effect to the buttons */
.space-details-buttons button:hover {
  opacity: 0.8;
}